<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MZD Portal</title>
    <link href="/css/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_NavBar")
    </header>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-t mt-8">
        <div class="max-w-7xl mx-auto px-4 py-6 text-gray-600">
            &copy; 2025 - <span class="font-semibold">MZD Portal</span> - <a class="text-indigo-600 hover:text-indigo-800" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
